body {
    font-family: 'Jost', sans-serif;
    color: #1C1D21;
}

.card {
    border:0;
}

.card2 {
    padding:20px;
    border:0;
    text-align: center;
    align-items: center;
}

.card2 img{
    border-radius: 100%;
    width:100px;
}
.header {
    border-bottom: 1px solid #D9D9D9;
    padding: 30px;
}

.cards {
    margin-top:30px;
}

.footer {
    border-top:1px solid #D9D9D9;
    padding:30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a{
    margin-right:20px;
}

.nav2 a{
    margin-left:40px;
}

.nosotros__imagen {
    width: 100%;
}


