.hero {
    background-image: url("../img/02.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height:400px;
    background-size:cover;
    margin-bottom: 30px;
    display: flex;
   align-items: center;

   &__text { 
    margin-left:40px;
    display: none;
   }

   &__title {
    color: #fff;
    width:30%;
    }

    &__link {
        background-color:#A288A6;
        color:white;
        display: inline-block;
        padding:10px;
        margin-top:10px;
    }
}

.pagina_productos {
    background-image: url("../img/10.jpg");
    }

.pagina_contacto {
    background-image: url("../img/23.jpg");
    }