@media (min-width: 768px) {
    .hero__text {
        display: inline;
    }

    .nav li {
        display: inline;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col {
        width: 100vw;
    }
}